.status {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	z-index: 1;
	padding: 0 15px 15px;
}

.status .info {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.status .info label {
	color: #545454;
	flex-grow: 1;
	text-align: left;
}

.status .info span {
	color: #f6f6f6;
	text-align: right;
}

.status p {
	width: 100%;
	text-align: left;
	display: block;
	margin: 0;
	padding: 0;
	color: #545454;
}


