.achievement-view {
	width: 100%;
	height: 100%;
	overflow: hidden;	
}

.achievement-view .nav {
	display: flex;
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0; 
	left: 0;
	padding: 15px;
	box-sizing: border-box;
}

.achievement-view .nav .filter {
	background: none;
	border: none;
	border-bottom: 1px solid #545454;
	color: #f6f6f6;
	flex-grow: 1;
}

.achievement-view .nav .filter:focus {
	outline: none;
}

.achievement-view .nav button {
	background: #2a475e;
	color: #f6f6f6;
	border: none;
	width: 150px;
	margin: 0 5px;
	cursor: pointer;
}

.achievement-view .nav button:active {
	background: #1b2838;
}

.achievement-view .subnav {
	width: 100%;
	height: 25px;
	position: absolute;
	top: 80px;
	left: 0;
	padding: 0 15px;
	box-sizing: border-box;
}

.achievement-view .subnav button {
	background: #171a21;
	color: #f6f6f6;
	border: 1px solid #f6f6f6;
	margin: 0 5px 0 0;
	font-size: 12px;
	cursor: pointer;
}

.achievement-view .subnav .progress {
	float: right;
}

.achievement-view ul {
	width: 100%;
	height: calc(100% - 105px);
	list-style: none;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 105px;
	left: 0;
}

.achievement-view ul li {
	margin: 0;
	padding: 0 10px;
	height: 45px;	
}

.achievement-view ul li:nth-child(even) {
	background: #171a21;
}

.achievement-view label {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.achievement-view label input[type="checkbox"] {
	margin-right: 5px;
	vertical-align: middle;
}

.achievement-view label img {
	height: 80%;
	margin: 0 15px;
}

.achievement-view label div .name {
	font-size: 14px;
	color: #f6f6f6;
}

.achievement-view label div .desc {
	font-size: 12px;
	color: #545454;
	margin-left: 5px;
}
