:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #f6f6f6;
	background-color: #0f0f0f;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	position: relative;
}

.body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100vh;
	box-sizing: border-box;
	background: #171a21;
	overflow: hidden;
}

.main {
	position: absolute;
	top: 0;
	left: 300px;
	width: calc(100vw - 300px);
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;	
}

.instructions {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #545454;
}
