.statistic-view {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.statistic-view ul {
	height: calc(100% - 50px);
	list-style: none;
	overflow-y: scroll;
	padding: 25px;
	margin: 0;
	box-sizing: border-box;
	display: block;
	position: relative;
}

.statistic-view ul li {
	margin: 0 0 10px 0;
	padding: 5px;
	display: flex;
	flex-direction: row;
}

.statistic-view label {
	width: 30%;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	padding-right: 25px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.statistic-view input {
	width: 30%;
	height: 25px;
	padding: 0 5px;
	color: #f6f6f6;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #f6f6f6;
	box-sizing: border-box;
	box-shadow: none;
}

.statistic-view input:focus {
	outline: none;
}

.statistic-view .apply {
	background: #2a475e;
	color: #f6f6f6;
	border: none;
	width: 200px;
	height: 50px;
	display: block;
	position: relative;
}
